.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animation-delay-6000 {
  animation-delay: 6s;
}

.stroke-2 {
  stroke-width: 2;
}

.animate-draw-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

.delay-1000 {
  animation-delay: 1000ms;
}

.delay-1500 {
  animation-delay: 1500ms;
}

.delay-2000 {
  animation-delay: 2000ms;
} 